/** 花词高亮 颜色 */

.selection-info {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity))) !important;
  background-color: var(--fallback-in, oklch(var(--in) / var(--tw-bg-opacity)));
  cursor: pointer !important;
  z-index: 999;
}

.selection-red {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity)) !important;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity));
  cursor: pointer !important;
  z-index: 999;
}

.selection-yellow {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  color: rgb(113 63 18 / var(--tw-text-opacity)) !important;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity));
  cursor: pointer !important;
  z-index: 999;
}

.selection-emerald {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  color: rgb(6 78 59 / var(--tw-text-opacity)) !important;
  background-color: rgb(110 231 183 / var(--tw-bg-opacity));
  cursor: pointer !important;
  z-index: 999;
}

.selection-cyan {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  color: rgb(22 78 99 / var(--tw-text-opacity)) !important;
  background-color: rgb(103 232 249 / var(--tw-bg-opacity));
  cursor: pointer !important;
  z-index: 999;
}

.selection-violet {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  color: rgb(76 29 149 / var(--tw-text-opacity)) !important;
  background-color: rgb(196 181 253 / var(--tw-bg-opacity));
  cursor: pointer !important;
  z-index: 999;
}

.beeline-red {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: underline solid rgb(252 165 165 / var(--tw-bg-opacity)) 3px;
  text-underline-offset: 6px;
}

.beeline-yellow {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: underline solid rgb(253 224 71 / var(--tw-bg-opacity)) 3px;
  text-underline-offset: 6px;
}

.beeline-emerald {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: underline solid rgb(110 231 183 / var(--tw-bg-opacity)) 3px;
  text-underline-offset: 6px;
}
.beeline-cyan {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: underline solid rgb(103 232 249 / var(--tw-bg-opacity)) 3px;
  text-underline-offset: 6px;
}
.beeline-violet {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: underline solid rgb(196 181 253 / var(--tw-bg-opacity)) 3px;
  text-underline-offset: 6px;
}

.wavy-red {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: rgb(252 165 165 / var(--tw-bg-opacity)) wavy underline 2px;
  text-underline-offset: 4px;
}
.wavy-yellow {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: rgb(253 224 71 / var(--tw-bg-opacity)) wavy underline 2px;
  text-underline-offset: 4px;
}
.wavy-emerald {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: rgb(110 231 183 / var(--tw-bg-opacity)) wavy underline 2px;
  text-underline-offset: 4px;
}
.wavy-cyan {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: rgb(103 232 249 / var(--tw-bg-opacity)) wavy underline 2px;
  text-underline-offset: 4px;
}
.wavy-violet {
  cursor: pointer !important;
  z-index: 999;
  --tw-bg-opacity: 1;
  text-decoration: rgb(196 181 253 / var(--tw-bg-opacity)) wavy underline 2px;
  text-underline-offset: 4px;
}
