.contents1 {
  margin-left: 1em;
}

.yanse {
  text-indent: 2em;
}
.you {
  /* display: block;
  font-size: 1em;
  line-height: 1.2; */
  text-align: right;
  margin: 1em 0;
}

.ziti {
  /* font-size: 1em;
  line-height: 1.2; */
  text-align: left;
  margin: 1em 0;
}
.ziti1 {
  /* display: block;
  font-size: 1em;
  line-height: 1.2; */
  text-align: left;
  margin: 1em 0;
}
.ziti2 {
  /* display: block;
  font-size: 1em;
  line-height: 1.2; */
  text-indent: 2em;
  margin: 1em 0;
}
